<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy Products</h1>
        </div>
    </div>


 {{>navigationbar}}
 

 <section> 
     {{>productstyle}}

    
 </section>


 {{>productbutton}}
<section class="article-cards">
  {{#each articles}}
    <div class="article-card fade" id="article-id-{{this.dataValues.id}}" href={{this.dataValues.url}}>
      <img class="article-picture" src="{{this.dataValues.imageUrl}}" alt="Solar energy image" href="{{this.dataValues.url}}">
      <div class="article" href="{{this.dataValues.url}}">{{this.dataValues.title}}</div>
    </div>
  {{/each}}
</section>

{{>footer}}
</section>
 
<script src='./js/product.js'></script>
<script type="text/javascript" src="./js/articles.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

